 <h1>{{this.room}}</h1>
 <div class="row">
        <div class="well" style="height:200px; padding:15px;">
          <div *ngFor="let message of messages">
          {{message}}
          </div>
            <!-- <div *ngFor="let item of messageArray">
            <span><strong>{{item.user}} : </strong> {{item.message}}</span>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="message">            
        </div>
        <div class="col-sm-2">
                <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
        </div>
    </div>
